@model TasteFoodIt.Entities.Reservation
@{
    ViewBag.Title = "UpdateReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script>
    function submitForm(action) {
        var form = document.getElementById('myForm');
        form.action = action;
        form.submit();
    }
</script>


<form id="myForm" method="post">
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.ReservationId)
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Name)
    <label>Soyadı</label>
    @Html.TextBoxFor(x => x.Surname)
    <label>Telefon No</label>
    @Html.TextBoxFor(x => x.Phone)
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.ReservationDate)
    <label>Saat</label>
    @Html.TextBoxFor(x => x.Time)
    <label>Kaç kişisiniz</label>
    @Html.TextBoxFor(x => x.GuestCount)
    <label>Email</label>
    @Html.TextBoxFor(x => x.Email)
    @Html.DropDownListFor(x => x.ReservationStatus, (SelectList)ViewBag.ReservationStatus, "Durum Seçin")
    <input type="button" onclick="submitForm('/AdminReservation/CreateReservation')" value="Rezervasyon Yap" class="btn btn-success" />
</form>