
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuList</title>
</head>
<body>
    <div>
        @Html.Action("PartialHead", "Default")

        @Html.Action("PartialNavBarInfo", "Default")

        @Html.Action("PartialNavBar", "Default")

        @Html.Action("PartialMenu", "Default")

        @Html.Action("PartialScript", "Default")
    </div>
</body>
</html>
